body {
  background-image: url('campus.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h2{
 font-family: Sans-serif; 
 font-size: 24px;     
 font-style: normal; 
 font-weight: bold; 
 color: orange;
 text-align: center; 
}
h3{
font-family: Sans-serif; 
 font-size: 16px;     
 font-style: normal; 
 color: blue;
 text-align: center; 
}

table{
 font-family: verdana; 
 color:white; 
 font-size: 16px; 
 font-style: normal;
 font-weight: bold;
 background-image: url("ochre_texture.jpg");
 
}
table.inner{
 border: 10px
}
input[type=text], input[type=email], input[type=number]{
 width: 50%;
 padding: 6px 12px;
 margin: 5px 0;
 box-sizing: border-box;
}
input[type=submit], input[type=reset]{
 width: 15%;
 padding: 8px 12px;
 margin: 5px 0;
 box-sizing: border-box;
}